html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	text-align: center;
	outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
	border-bottom:1px solid rgb(0, 0, 0);
}
#four4sApp{
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#header{
	width: 100%;
    height: 14%;
	font-size: 2em;
	border-bottom:2px solid rgb(181, 184, 185);
	position: relative;
	color: white;
	background-color: rgb(0, 150, 218);
}

#home{
	height: 100%;
	width: 21%;
	position: absolute;
	top: 3%;
	left: 2.5%;
	bottom: 0;
	right: 0;
	border-right: 1px solid rgb(255, 255, 255);
}

.half{
	margin-top: 34%;
}

#hint{
	
	height: 100%;
	width: 21%;
	position: absolute;
	top: 3%;
	left: 77.5%;
	bottom: 0;
	right: 0;
	border-left: 1px solid rgb(255, 255, 255);
}
.center{
	  width: 100%;
	  height: 45%;
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
}
.key .center, #total .center {
	  height: 70%;
}

#back-key .center{
	  height: 70%;
	  width: 70%;
	  font-size: .8em;
}

#sol-container{
	width: 85%;
    height: 22.5%;
	margin-top: 13%;
	margin-bottom: 3%;
	margin-left: 7.5%;
	font-size: 2em;	
}
#solution{
	width: 100%;
    height: 25%;
	margin-bottom: 3%;
}
#total{
	width: 100%;
    height: 60%;
	text-align: center;
	position: relative;
	font-size: 2em;	
}
.symbols{
	width: 80%;
    height: 50%;
	margin: 0 auto;
}
.key{
	width: 20%;
	margin-left: 1%;
	margin-right: 16%;
	margin-top: 7%;
	float: left;
	border: 1px solid #FFF;
	cursor: default;
	color: rgb(0, 150, 218);
	font-size: 3.65em;
}
.icon-minus-key, .icon-divide-key, .icon-back-key{
	float: right;
	margin-right: 0%;
}
.icon-plus-key, .icon-mutliply-key, .icon-right-bracket-key{
  left: 50%;
}
#back-key{
	background-color: rgb(207, 34, 41);
	border:1px solid rgb(207, 34, 41);	
}

.gray {
	border: 1px solid #CCBEBE;
	color: #CCBEBE;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right-bracket-key:before {
	content: "\e600";
}
.icon-divide-key:before {
	content: "\e601";
}
.icon-four-key:before {
	content: "\e602";
}
.icon-dot-key:before {
	content: "\e603";
}
.icon-plus-key:before {
	content: "\e604";
}
.icon-mutliply-key:before {
	content: "\e605";
}
.icon-minus-key:before {
	content: "\e606";
}
.icon-left-bracket-key:before {
	content: "\e607";
}
.icon-back-key:before {
	content: "\e608";
}

