
html,body,#four4sApp,#play-screen,#level-chooser-page {
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}
#header{
	width: 100%;
	border-bottom:2px solid rgb(181, 184, 185);
	color: white;
	background-color: rgb(0, 150, 218);
	font-size: 4vh;
}

#header .icon-home, #header .icon-lightbuilb, #target{
	display: inline-block;
}
#header .icon-home, #header .icon-lightbuilb{
	width:22%;	
}
#target{	
	border-right: 1px solid rgb(255, 255, 255);
	border-left: 1px solid rgb(255, 255, 255);
	width:55%;
}

#hint-container{
	display: none;
	position: absolute;
	width: 45%;
	height: 8.5%;
	background: rgb(250, 250, 255);
	top: 15.5%;
	left: 27.5%;
	box-shadow: inset 0 0 2px #B3B3B2;
	color: rgb(0, 150, 218);
	border-radius: 5px;
}
#above-target-filler{
	height: 35%;
}

#sol-container{
	width: 85%;
    height: 23.5%;
	margin-left: 7.5%;
}
#solution{
	width: 100%;
    height: 25%;
    font-size: 5.5vh;
}
.font-size-1{
	font-size: 4.4vh;
}
.font-size-2{
	font-size: 3.3vh;
}
.font-size-3{
	font-size: 2.2vh;
}
.font-size-4{
	font-size: 1.1vh;
}
.sum {
	border-top: 2px solid;
	margin-left:-3.35px;
}
#total{
	width: 100%;
    height: 59%;
	position: relative;
	font-size: 13vh;
}
#buttons{
	width: 80%;
    height: 50%;
	margin: 0 auto;
}
.button{
	float: left;
	border: 1px solid #FFF;
	cursor: default;
	color: rgb(0, 150, 218);
	font-size: 10vh;
	
	/* IE9 and 10 */
  	content: 'viewport-units-buggyfill; font-size: 10vh;';
}
.new-symbols i{
	margin-right: 5%;
}

.icon-back-key{
	color: rgb(207, 34, 41);
}
.target-text{	
	color: rgb(0, 150, 218);
}

.gray {
	color: gray;
}
.overline{
	border-top: black solid 2px;
}

.font-size-2{
	font-size:60px;
}

#home-screen{
	width: 100%;
    height: 100%;
	overflow: hidden;
	background-color: rgb(238, 238, 238);
}

#menu-title{
	width: 85%;
	margin-left: 7.5%;
	font-size: 70px;
	background: white;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#menu-header{
	width: 100%;
	height: 15%;
}

#menu-title-footer{
	width: 100%;
	height: 15%;
}
.menu-option{
	width: 50%;
	height: 8%;
	font-size: 3.3vh;
	color: white;
	background: rgb(0, 150, 218);
	float: left;
	margin-left: -3%;
	line-height: 100%;
}
.menu-option-leading{
	height: 30%;
	width: 100%;
}
.options-divider{
	width: 100%;
	height: 10%;
	float: left;
}
.leftside-edge{
	width: 8%;
	margin-left: 20%;
	height: 8%;
	background: rgb(0, 150, 218);
	float: left;
	border-radius: 50%;
}

.rightside-edge{
	width: 8%;
	height: 8%;
	background: rgb(0, 150, 218);
	float: left;
	border-radius: 50%;
}

.modal-view {
	height: 53%;
	position: fixed;
	top: 24%;
	z-index: 1050;
	width: 84%;
	margin-left: 8%;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-moz-border-radius: 6px;
	border-radius: 4%;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
}
.modal-header {
	height: 22%;
	border-bottom: 1px solid #eee;
	font-size: 3em;
	color: rgb(82, 80, 80);
}
.rule {display: none;}
.strikethrough {
	position: relative;
	font-size: 155px;
	color: rgb(82, 80, 80);
	display: inline-block;
	line-height: .7;
}
.strikethrough:after {
	content: "";
	position: absolute;
	left: -24%;
	top: 53%;
	margin-top: -3px;
	width: 156%;
	height: 9px;
	background: rgb(207, 34, 41);
	outline: 1px solid transparent;
	-webkit-transform: rotateZ(-33deg);
	-moz-transform: rotateZ(-33deg);
	-webkit-backface-visibility: hidden;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	opacity: .1;
	background-color: #000000;
}

.icon-four-key {
	color: #0096DA;
}

.modal-msg .icon-smile, .modal-msg .icon-four-key,.modal-msg .icon-lightbuilb, .modal-msg .icon-factorial-key, .modal-msg .icon-square-key, .modal-msg .icon-power-key  {
	color: rgb(0, 150, 218);
	line-height: 1;
}
.modal-msg .icon-four-key {
	margin-left:2%;
}
.modal-msg .icon-plus-key{
	margin-left:1%;
	color: rgb(0, 150, 218);
}
#level-chooser-page{
	background-color: rgb(229, 230, 230);
}
#level-chooser-head{
	text-align: left;
}
#level-chooser-head .icon-home{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: white;
	color: rgb(0, 150, 218);
}
#level-chooser-selector{
	margin: 150px;
}

.icon-check{
	color: rgb(0, 150, 218);
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-4o5o36');
	src:url('../fonts/icomoon.eot?#iefix-4o5o36') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-4o5o36') format('woff'),
		url('../fonts/icomoon.ttf?-4o5o36') format('truetype'),
		url('../fonts/icomoon.svg?-4o5o36#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.button:active{
	color: black;
}

.icon-check:before {
	content: "\e610";
}
.icon-smile:before {
	content: "\e611";
}
.icon-lightbuilb:before {
	content: "\e60e";
}
.icon-home:before {
	content: "\e60f";
}
.icon-back-key:before {
	content: "\e600";
}
.icon-divide-key:before {
	content: "\e601";
}
.icon-dot-key:before {
	content: "\e602";
}
.icon-factorial-key:before {
	content: "\e603";
}
.icon-four-key:before {
	content: "\e604";
}
.icon-left-bracket-key:before {
	content: "\e605";
}
.icon-minus-key:before {
	content: "\e606";
}
.icon-mutliply-key:before {
	content: "\e607";
}
.icon-plus-key:before {
	content: "\e608";
}
.icon-pluss-key:before {
	content: "\e609";
}
.icon-power-key:before {
	content: "\e60a";
}
.icon-right-bracket-key:before {
	content: "\e60b";
}
.icon-square-key:before {
	content: "\e60c";
}
.icon-drawing:before {
	content: "\e60d";
	margin-right: -1px;
}
.icon-arrow-up:before {
	color: rgb(0, 150, 218);
	content: "\e612";
}
.icon-arrow-down:before {
	color: rgb(0, 150, 218);
	content: "\e613";
}