html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	text-align: center;
	outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);	
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
	border-bottom:1px solid rgb(0, 0, 0);
}
#four4sApp{
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#header{
	width: 100%;
    height: 14%;
	font-size: 2em;
	border-bottom:2px solid rgb(181, 184, 185);
	position: relative;
}
.center{
	  width: 50%;
	  height: 50%;
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
}
.key .center, #total .center {
	  height: 70%;
}

#back-key .center{
	  height: 70%;
	  width: 70%;
	font-size: .8em;
}

#sol-container{
	width: 85%;
    height: 30%;
	margin-top: 7%;
	margin-bottom: 3%;
	margin-left: 7.5%;
	border:1px solid #000;
	font-size: 2em;	
}
#solution{
	width: 100%;
    height: 70%;
}
#total{
	width: 100%;
    height: 30%;
	border-top:2px dashed rgb(181, 184, 185);
	text-align: center;
	position: relative;
}
.symbols{
	clear: both;
	width: 90%;
    height: 50%;
	margin-left: 7.5%;
	font-size: 2.4em;
	text-align:center;
}
.key{
	width: 20%;
	height: 22%;
	margin-left: 1%;
	margin-right: 16%;
	margin-top: 7%;
	float: left;
	border: 1px solid #FFF;
	border-radius: 50%;
	cursor: default;
	color: white;
	background-color: rgb(0, 150, 218);
	border:1px solid rgb(0, 150, 218);
	position: relative;
}
#minus-key, #divide-key, #back-key{
	margin-right: 0;
}
#back-key{
	background-color: rgb(207, 34, 41);
	border:1px solid rgb(207, 34, 41);	
}

.gray {
	border: 1px solid #CCBEBE;
	color: #CCBEBE;
}

