<table class="full-keyboard">
	<tr class="keyboard-row">
		<td class="button icon-four-key"></td>
		<td class="button icon-plus-key"></td>
		<td class="button icon-minus-key"></td>
	</tr>
	<tr class="keyboard-row">
		<td class="button icon-dot-key"></td>
		<td class="button icon-mutliply-key"></td>
		<td class="button icon-divide-key"></td>
	</tr>
	<tr class="keyboard-row">
		<td class="button icon-factorial-key"></td>
		<td class="button icon-square-key"></td>
		<td class="button icon-power-key"></td>
	</tr>
	<tr class="keyboard-row">
		<td class="button icon-left-bracket-key"></td>
		<td class="button icon-right-bracket-key"></td>
		<td class="button icon-back-key"></td>
	</tr>
</table>