<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "it.venerons.APPLICATION"
		version = "1.0.0"
		versionCode = "1">

    <name>APPLICATION NAME</name>

    <description>
        APPLICATION DESCRIPTION
    </description>

    <author href="http://venerons.github.io" email="veneronslaboratories@gmail.com">
        Daniele Veneroni
	</author>
        

    <!-- GENERAL PREFERENCES -->
        
    <!-- <preference name="phonegap-version" value="2.7.0" /> versione di phonegap usata, se non specificata usa quella di default (l'ultima disponibile) -->
    <preference name="orientation" value="landscape" /> <!-- entrambe supportate -->
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" /> <!-- toglie la barra in alto su iOS e Android -->
        
    <!-- iOS PREFERENCES -->
        
    <preference name="webviewbounce" value="false" /> <!-- effetto bounce quando si raggiunge la cima o il fondo della pagina -->
    <preference name="prerendered-icon" value="true" /> <!-- non applica effetto gloss all'icona -->
    <preference name="stay-in-webview" value="false" /> <!-- if set to true, all links (even with target set to blank) will open in the app's webview -->
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="exit-on-suspend" value="true" /> <!-- if set to false, app will continue to run on suspend -->
    <preference name="show-splash-screen-spinner" value="true" /> <!-- if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" /> <!-- if set to false, the splash screen must be hidden using a JavaScript API -->
        
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="7" /> <!-- minimo Android 2.1 -->
    <!-- <preference name="android-maxSdkVersion" value="17" /> massimo Android 4.2 -->
    <preference name="android-installLocation" value="auto" />
        
    <!-- BLACKBERRY PREFERENCES -->
        
    <preference name="disable-cursor" value="false" />
        
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>

</widget>