<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Four4s</title>
<link rel="stylesheet" href="css/styles.css" />
</head>

<body>
<div id="four4sApp"></div>
<script type="text/template" id="symbols-template"></script>
<script type="text/template" id="sol-template">
	<div id="solution"><%= solution %></div>
	<div id="total"><div class="center">= <%= total %></div></div>
</script>
<script type="text/template" id="header-template"><div class="center">Target : <%= target %></div></script>
<script type="text/template" id="key-template"><div class="center"><%= symbol %></div></script>

<script src="lib/jquery-1.7.1.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src='lib/fastclick.js'></script>

<script src="js/app.js"></script>

</body>

</html>